body {
  background-color: #f3f3ef;
}
.app {
  background-color: #f3f3ef;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  /* box-sizing: border-box; */
}

.app__body {
  display: flex;
  width: 100vw;

  /* justify-content: flex-start; */
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* margin: 0; */
  justify-content: space-evenly;
  /* border: 0.1px solid lightgray; */
  padding: 0.25rem 0 0.25rem 0;
  width: 100%;

  background-color: white;
}

@media (max-width: 660px) {
  .app__body {
    display: flex;
    flex-direction: column;
  }
}
