.app {
  background-color: #f3f3ef;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  /* box-sizing: border-box; */
}

.app__body {
  display: flex;
  width: 100vw;

  /* justify-content: flex-start; */
}
/* .sidebar { */
/* flex: 0.2; */
/* } */
/* 

.feed {
  flex: 0.6;
} */
/* .login {
  margin-top: 100px;
} */
